force-app/main/default/flows/AF_UAIS003_Get_Required_Modules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_products_are_purchaseable</name>
        <label>Check products are purchaseable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>s_c__AFGetPurchasableProductIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Purchasable_Modules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>vars_UnverifiedProductIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storeId</name>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>s_c__AFGetPurchasableProductIdsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_VerififcationErrorMessage</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_VerifiedProductIds</assignToReference>
            <name>productIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_Product_Id_to_List</name>
        <label>Assign: Add Product Id to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_UnverifiedProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_Product_Category_Records_to_Var.s_c__Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_Product_Category_Records_to_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Product_Ids</name>
        <label>Assign: Contact Product Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContactProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_ProductIds_to_Var.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_ProductIds_to_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Product_Ids_Returned</name>
        <label>Assign: No Product Ids Returned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry, we were unable to find any modules for this certification, please try again later or choose a different certification.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OrderId_to_Var</name>
        <label>Assign: OrderId to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_ContactOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_Order_Ids_to_Var.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_Order_Ids_to_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Store_is_Missing</name>
        <label>Assign: Store is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, storeId is missing, please ensure it is populated before calling this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Error_Product_Category_Id_is_missing</name>
        <label>Error: Product Category Id is missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: the certification productCategoryId is missing, please ensure the user has selected a certification from their chosen career before calling this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Are_all_the_fields_populated</name>
        <label>Decision: Are all the fields populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Category_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields are Populated.</defaultConnectorLabel>
        <rules>
            <name>storeId_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Store_is_Missing</targetReference>
            </connector>
            <label>storeId is missing</label>
        </rules>
        <rules>
            <name>productCategoryId_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCategoryId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Product_Category_Id_is_missing</targetReference>
            </connector>
            <label>productCategoryId is missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Are_there_any_ProductIds</name>
        <label>Decision: Are there any ProductIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Product_Ids_Returned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products Returned</defaultConnectorLabel>
        <rules>
            <name>There_are_ProductIds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vars_UnverifiedProductIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_products_are_purchaseable</targetReference>
            </connector>
            <label>There are ProductIds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Are_there_Contact_Products</name>
        <label>Decision: Are there Contact Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Contact Products</defaultConnectorLabel>
        <rules>
            <name>There_are_Contact_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ContactProductIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchase_Contact_Modules</targetReference>
            </connector>
            <label>There are Contact Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_there_a_Contact_Id</name>
        <label>Decision: Is there a Contact Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_a_ContactId_Get_Purchase_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Orders</targetReference>
            </connector>
            <label>There is a ContactId - Get Purchase History</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Were_Purchaseable_Products_Found</name>
        <label>Decision: Were Purchaseable Products Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_No_Product_Ids_Returned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Products</defaultConnectorLabel>
        <rules>
            <name>Purchasable_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productRecords</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Is_there_a_Contact_Id</targetReference>
            </connector>
            <label>Purchasable Products Found</label>
        </rules>
    </decisions>
    <description>Get&apos;s the required modules for a given certification.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS002 - Get Required Modules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS003 - Get Required Modules</label>
    <loops>
        <name>Loop_Assign_Order_Ids_to_Var</name>
        <label>Loop: Assign Order Ids to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contact_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OrderId_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assign_Product_Category_Records_to_Var</name>
        <label>Loop: Assign Product Category Records to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Product_Category_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Add_Product_Id_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Are_there_any_ProductIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assign_ProductIds_to_Var</name>
        <label>Loop: Assign ProductIds to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Product_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Are_there_Contact_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Orders</name>
        <label>Get Contact Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assign_Order_Ids_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StatusCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Contact_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assign_ProductIds_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_ContactOrderIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_UnverifiedProductIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Category_Records</name>
        <label>Get Product Category Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assign_Product_Category_Records_to_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Category_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productCategoryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>s_c__Products_Product_Categories__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Product_Id__c</queriedFields>
        <sortField>s_c__Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchasable_Modules</name>
        <label>Get Purchasable Modules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Were_Purchaseable_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_VerifiedProductIds</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>productRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>DisplayUrl</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>s_c__Features_Markdown__c</queriedFields>
        <queriedFields>s_c__Specifications_Markdown__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Contact_Modules</name>
        <label>Get Purchase Contact Modules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_ContactProductIds</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>completedModules</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>DisplayUrl</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>s_c__Specifications_Markdown__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Are_all_the_fields_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A list of products that the user has already purchased for this certification. They do not need to be purchased again, however, may be if the user wished to re-take the module.</description>
        <name>completedModules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>Optional, if included, the &apos;completedModules&apos; product list will include a list of modules completed by this contact that do not need to be &apos;re-purchased&apos;.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error or system message from the action. Follow it&apos;s instructions and provide the user feedback without disclosing PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The product category Id of the chosen certification.</description>
        <name>productCategoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The required modules for this certification.</description>
        <name>productRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>The storeId of the current store the user is in.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContactProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VerifiedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VerififcationErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_ContactOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_UnverifiedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
