force-app/main/default/flows/AF_UAIS002_Get_Career_Certifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_to_the_List</name>
        <label>Assign: Add to the List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>certificationRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Categories</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Child_Id_To_List_for_Query</name>
        <label>Assign: Child Id To List for Query</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_ProductCategoryIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Category_Heirarchy.s_c__Child_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Category_Heirarchy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_Message</name>
        <label>Assign: error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, no career product category Id was included, please ensure a career product category is included before calling this action. Ask the user to pick a career.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Is_there_a_Product_Category_Id</name>
        <label>Decision: Is there a Product Category Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Career_Product_Category_Hierarchy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Career_Product_Category_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productCategoryId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_error_Message</targetReference>
            </connector>
            <label>Missing Career Product Category Id</label>
        </rules>
    </decisions>
    <description>This flow takes a given career and will then return the various certifications available to complete for that given career.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS002 - Get Career Certifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS002 - Get Career Certifications</label>
    <loops>
        <name>Loop_Category_Heirarchy</name>
        <label>Loop Category Heirarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>vars_PCH_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Id_To_List_for_Query</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Categories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Career_Product_Category_Hierarchy</name>
        <label>Get All Career Product Category Hierarchy</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Category_Heirarchy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productCategoryId</elementReference>
            </value>
        </filters>
        <object>s_c__Product_Category_Hierarchy__c</object>
        <outputReference>vars_PCH_Records</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Child_Id__c</queriedFields>
        <sortField>s_c__Position__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Categories</name>
        <label>Get Product Categories</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Add_to_the_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_ProductCategoryIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Hide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>s_c__Product_Category__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>s_c__Title__c</queriedFields>
        <queriedFields>s_c__Subtitle__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
        <queriedFields>s_c__Introduction_Markdown__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_there_a_Product_Category_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A list of certifications available for this career.</description>
        <name>certificationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>s_c__Product_Category__c</objectType>
    </variables>
    <variables>
        <description>The error or system message from the action. Follow the instructions provided and grant the user a general response about the error message.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The productCategoryId of the career chosen by the user, this will then be used to get the certification categories for the career category.</description>
        <name>productCategoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_PCH_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>s_c__Product_Category_Hierarchy__c</objectType>
    </variables>
    <variables>
        <name>vars_ProductCategoryIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
