force-app/main/default/flows/AF_UAIS004_Create_New_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assign_order_Fields</name>
        <label>Assign: Assign order Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order.s_c__Store_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.s_c__Contact_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contactId_is_Missing</name>
        <label>Assign: contactId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, contact is missing. Please ask the user to login or create an account before continuing this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Order_Record_and_Id_to_Vars</name>
        <label>Assign: Order Record and Id to Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Set_Creation_Error_Message</name>
        <label>Assign: Set Creation Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_storeId_is_Missing</name>
        <label>Assign: storeId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, storeId is missing, please ask the user for the store domain and search for the storeId before continuing with this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decsion_Are_the_required_Fields_populated</name>
        <label>Decsion: Are the required Fields populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Store_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields Populated</defaultConnectorLabel>
        <rules>
            <name>contactId_is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_contactId_is_Missing</targetReference>
            </connector>
            <label>contactId is Missing</label>
        </rules>
        <rules>
            <name>storeId_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_storeId_is_Missing</targetReference>
            </connector>
            <label>storeId is missing</label>
        </rules>
    </decisions>
    <description>This action creates a new order record for the user.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS004 - Create New Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS004 - Create New Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Record</name>
        <label>Create Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Set_Creation_Error_Message</targetReference>
        </faultConnector>
        <inputReference>order</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Assign_order_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Record_and_Id_to_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Pricebook</name>
        <label>Get Store Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Store__c</object>
        <outputAssignments>
            <assignToReference>var_Pricebook2Id</assignToReference>
            <field>s_c__Pricebook_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decsion_Are_the_required_Fields_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The contactId of the current user.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error or system message returned if a non-expected outcome occurs. Follow the instructions and provide the user a general response without PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The order Record of the newly created Order</description>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The Order Id of the newly created Order record.</description>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The storeId to use for the current order.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Pricebook2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
