force-app/main/default/flows/AF_UAIS008_Create_or_Update_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Flow_Fault_Error</name>
        <label>Assign: Flow Fault Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Data error, please confirm the information provided is correct before trying again.  {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Account_Variables</name>
        <label>Assign: New Account Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer - Direct</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.AF_GEN_PersonAccountRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.s_c__Send_Invitation__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactsAccount.s_c__Store_Id__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_City</name>
        <label>Assign: New City</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Country</name>
        <label>Assign: New Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Send_Reset_Password_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Email</name>
        <label>Assign: New Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_First_Name</name>
        <label>Assign: New First Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Last_Name</name>
        <label>Assign: New Last Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Phone</name>
        <label>Assign: New Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Mailing_Street</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Post_Code</name>
        <label>Assign: New Post Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingPostCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_State</name>
        <label>Assign: New State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Street</name>
        <label>Assign: New Street</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_City</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reset_Users_Password</name>
        <label>Assign: Reset Users Password</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.s_c__Reset_Password__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_Contact_Record_Id</name>
        <label>Assign: Set Contact Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.s_c__Store_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Update_First_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_Created_Values</name>
        <label>Assign: Set Created Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newAccountInvitationUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.s_c__Invitation_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Was_a_Messaging_Session_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_the_Values_to_the_Contact_Record</name>
        <label>Assign: Set the Values to the Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactRecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_MailingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.s_c__Store_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ContactsAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactRecord.s_c__Send_Invitation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Set_Missing_Fields_Error_Message</name>
        <label>Assing: Set Missing Fields Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sorry, we require a First Name, Family Name and Email to create your account, please provide all required information so we can create your account.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Are_all_required_fields_populated</name>
        <label>Decision: Are all required fields populated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assing_Set_Missing_Fields_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Not All Required Fields were Entered</defaultConnectorLabel>
        <rules>
            <name>All_Required_Contact_Fields_are_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_FirstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_LastName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_Exsisting_Contact_Email</targetReference>
            </connector>
            <label>All Required Contact Fields are Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_New_or_Update_Contact</name>
        <label>Decision: New or Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Are_all_required_fields_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create new Contact</defaultConnectorLabel>
        <rules>
            <name>Update_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Contact_Record_Id</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Send_Reset_Password_Link</name>
        <label>Decision: Send Reset Password Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contact2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Password</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action_SendResetPasswordLink</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reset_Users_Password</targetReference>
            </connector>
            <label>Reset Password</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_City</name>
        <label>Decision: Update City</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Postal_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_MailingCity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_City</targetReference>
            </connector>
            <label>Update City</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Country</name>
        <label>Decision: Update Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Send_Reset_Password_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_MailingCountry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Country</targetReference>
            </connector>
            <label>Update Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Email</name>
        <label>Decision: Update Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Email</targetReference>
            </connector>
            <label>Update Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_First_Name</name>
        <label>Decision: Update First Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Last_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_FirstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_First_Name</targetReference>
            </connector>
            <label>Update First Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Last_Name</name>
        <label>Decision: Update Last Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Last_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_LastName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Last_Name</targetReference>
            </connector>
            <label>Update Last Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Mailing_Street</name>
        <label>Decision: Update Mailing Street</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_City</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Street</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_MailingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Street</targetReference>
            </connector>
            <label>Update Street</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Phone</name>
        <label>Decision: Update Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Mailing_Street</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Phone</targetReference>
            </connector>
            <label>Update Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Postal_Code</name>
        <label>Decision: Update Postal Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Postal_Code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_MailingPostCode</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Post_Code</targetReference>
            </connector>
            <label>Update Postal Code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_State</name>
        <label>Decision: Update State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Update_Country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>new_MailingState</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_State</targetReference>
            </connector>
            <label>Update State</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Was_a_Messaging_Session_Set</name>
        <label>Decision: Was a Messaging Session Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Session_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>messagingSessionId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Messaging_Session_Contact</targetReference>
            </connector>
            <label>Session Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Was_an_existing_contact_found</name>
        <label>Decision: Was an existing contact found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Account_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Exsisting_Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts_Exsisting_Contact_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Exsisting_Contact_Record</targetReference>
            </connector>
            <label>Exsisting Contact Found</label>
        </rules>
    </decisions>
    <description>This flow action can be used to create a new contact (if there is no contactId), Update a contact&apos;s details (if there is a contactId) or reset the contact&apos;s password.
Migrated to person accounts.</description>
    <environments>Default</environments>
    <formulas>
        <name>For_AccountMae</name>
        <dataType>String</dataType>
        <expression>{!new_LastName}+&apos; Family&apos;</expression>
    </formulas>
    <formulas>
        <name>for_FullName</name>
        <dataType>String</dataType>
        <expression>{!new_FirstName}+ &apos; &apos; + {!new_LastName}</expression>
    </formulas>
    <interviewLabel>AF UAIS008 Create or Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS008 Create or Update Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Set_the_Values_to_the_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Flow_Fault_Error</targetReference>
        </faultConnector>
        <inputReference>var_ContactsAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Set_Created_Values</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Fault_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactsAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>s_c__Invitation_URL__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_Exsisting_Contact_Email</name>
        <label>Get Contacts - Exsisting Contact Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Was_an_existing_contact_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exsisting_Contact_Record</name>
        <label>Get Exsisting Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Was_a_Messaging_Session_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contacts_Exsisting_Contact_Email.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>s_c__Invitation_URL__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact2</name>
        <label>Update Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Flow_Fault_Error</targetReference>
        </faultConnector>
        <inputReference>contactRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_Session_Contact</name>
        <label>Update Messaging Session Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>contactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_New_or_Update_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>If true, will send a reset password link to the current contact&apos;s email address.</description>
        <name>action_SendResetPasswordLink</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The contactId of the current messaging user. If this is blank, a new contact record will be created.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The new or updated Contact Record</description>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>If there were any errors, the message details and further instructions will be left here.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The messaging sessionId of the current messaging session.</description>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_MailingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_MailingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_MailingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_MailingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_MailingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Users can finish creating their new account and set their password using this url. It will also be sent to their email address.</description>
        <name>newAccountInvitationUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The storeId of the related store, typically set by the Store__c field on the Messaging Session.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.AF_GEN_WorkforceAcademyStoreId</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_ContactsAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
