force-app/main/default/flows/AF_UAIS007_Get_Contact_Information_from_External_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Set_Error_Message</name>
        <label>Assign: Set Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please ensure the contact is logged in to the site. Offer to help them create an account if they don&apos;t have one already.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Set_No_Contact_Error_Message</name>
        <label>Assign: Set No Contact Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No contact with that scId was found, offer to help them with creating an account or suggest logging out/in again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Was_a_Contact_Id_Found</name>
        <label>Decision: Was a Contact Id Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Id_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Details</targetReference>
            </connector>
            <label>Contact Id was Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Was_a_Contact_Record_found</name>
        <label>Decision: Was a Contact Record found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Set_No_Contact_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Record_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Record was Found</label>
        </rules>
    </decisions>
    <description>This flow uses the Contact Id from Messaging User from the ED and retrieve the contact record for this student.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS007 {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>AF - UAIS007 - Get Contact Information from External Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Details</name>
        <label>Get Contact Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Was_a_Contact_Record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>s_c__sC_Id__c</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingStreet</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Was_a_Contact_Id_Found</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.FaultMessage</elementReference>
        </value>
    </variables>
</Flow>
