force-app/main/default/flows/AF_UAIS004_Create_New_Guest_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assign_order_Fields</name>
        <label>Assign: Assign order Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order.s_c__Store_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.s_c__Contact_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShipToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingPostCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>order.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contactId_is_Missing</name>
        <label>Assign: contactId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, contact details are missing. Please ask the user to provide their first name, last name, email and shipping address before creating an order.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Order_Record_and_Id_to_Vars</name>
        <label>Assign: Order Record and Id to Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Set_Creation_Error_Message</name>
        <label>Assign: Set Creation Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Shennanegans_is_Missing</name>
        <label>Assign: Shennanegans is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, please don&apos;t use placeholder information, ask the user to provide their contact details (Full Name, Email and address) before re-trying to create the order.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_storeId_is_Missing</name>
        <label>Assign: storeId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, storeId is missing, please ask the user for the store domain and search for the storeId before continuing with this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decsion_Are_the_required_Fields_populated</name>
        <label>Decsion: Are the required Fields populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Store_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Required Fields Populated</defaultConnectorLabel>
        <rules>
            <name>Contact_Details_are_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>firstName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shippingStreet</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shippingState</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shippingPostCode</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shippingCountry</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shippingCity</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_contactId_is_Missing</targetReference>
            </connector>
            <label>Contact Details are Missing</label>
        </rules>
        <rules>
            <name>Ai_Shennanegans</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>firstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>John</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>user@example.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>firstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Jane</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>lastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doe</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>user@example.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shennanegans_is_Missing</targetReference>
            </connector>
            <label>Ai Shennanegans</label>
        </rules>
        <rules>
            <name>storeId_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_storeId_is_Missing</targetReference>
            </connector>
            <label>storeId is missing</label>
        </rules>
    </decisions>
    <description>This action creates a new order record for the guest user.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS004 - Create New Guest Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS004 - Create New Guest Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Record</name>
        <label>Create Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Set_Creation_Error_Message</targetReference>
        </faultConnector>
        <inputReference>order</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Record</name>
        <label>Get Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order_Record_and_Id_to_Vars</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store_Pricebook</name>
        <label>Get Store Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Store__c</object>
        <outputAssignments>
            <assignToReference>var_Pricebook2Id</assignToReference>
            <field>s_c__Pricebook_Id__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decsion_Are_the_required_Fields_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Assign_order_Fields</targetReference>
        </connector>
        <flowName>AF_UAIS008_Create_or_Update_Contact</flowName>
        <inputAssignments>
            <name>messagingSessionId</name>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_Email</name>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_FirstName</name>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_LastName</name>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_MailingCity</name>
            <value>
                <elementReference>shippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_MailingCountry</name>
            <value>
                <elementReference>shippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_MailingPostCode</name>
            <value>
                <elementReference>shippingPostCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_MailingState</name>
            <value>
                <elementReference>shippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>new_MailingStreet</name>
            <value>
                <elementReference>shippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>storeId</name>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>contactId</assignToReference>
            <name>contactId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contact</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>The created/matched contact record for the user.</description>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>The created/found contactId of the current user.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The email address of the user. Must be a valid email address.</description>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error or system message returned if a non-expected outcome occurs. Follow the instructions and provide the user a general response without PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The first name of the user.</description>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The last name of the user.</description>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The messagingSessionId of the current session.</description>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The order Record of the newly created Order</description>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The Order Id of the newly created Order record.</description>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The shipping city of the user.</description>
        <name>shippingCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The shipping country for the user, must be a valid country name or country code. Please suggest a value if misspelt/invalid.</description>
        <name>shippingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The shipping postal code or zip code of the user.</description>
        <name>shippingPostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The shipping state of the user, must be a valid state/province for the provided country.</description>
        <name>shippingState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The shipping street of the user.</description>
        <name>shippingStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The storeId to use for the current order.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Pricebook2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
