force-app/main/default/flows/AF_UAIS009_Search_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_All_Purchasable_Products_from_Store</name>
        <label>Get All Purchasable Products from Store</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>s_c__AFGetPurchasableProductIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Was_there_an_error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>storeId</name>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>s_c__AFGetPurchasableProductIdsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_IM_Error</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_PurchaseableProductIds</assignToReference>
            <name>productIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Purchasable_Products_from_Store_from_Ids</name>
        <label>Get Purchasable Products from Store from Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>s_c__AFGetPurchasableProductIdsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_Was_there_an_error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>var_unverifiedProductIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>storeId</name>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>s_c__AFGetPurchasableProductIdsInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_IM_Error</assignToReference>
            <name>error</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_PurchaseableProductIds</assignToReference>
            <name>productIds</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_Error_Message</name>
        <label>Assign: Add Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_IM_Error</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_Error_No_Purchasable_Products</name>
        <label>Assign: Add Error, No Purchasable Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>We looked for purchasable products for this store but were unable to find any, please try with other product Ids or records.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_the_ProductIds_to_variable</name>
        <label>Assign: Add the ProductIds to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_unverifiedProductIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Add_ProductIds_for_Checking.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Add_ProductIds_for_Checking</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_productIds_are_required</name>
        <label>Assign: Error, productIds are required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please include a list of productIds or Product2 records before seeing if they are purchasable. A list of up to 100 purchasable product2 records have been returned as suggestions.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Purchasable_Products_from_Store</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Missing_Store_Id</name>
        <label>Assign: Missing Store Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, no storeId was included, please ensure </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Set_the_Product_Ids_to_Variable</name>
        <label>Assign: Set the Product Ids to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_unverifiedProductIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unverifiedProductIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Are_there_Product_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Are_there_Product_Records</name>
        <label>Decision: Are there Product Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Purchasable_Products_from_Store_from_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_Are_Product_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unverifiedProducts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_Add_ProductIds_for_Checking</targetReference>
            </connector>
            <label>There Are Product Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Are_there_ProductIds_or_Products</name>
        <label>Decision: Are there ProductIds or Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_productIds_are_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products Included to Check</defaultConnectorLabel>
        <rules>
            <name>StoreId_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Missing_Store_Id</targetReference>
            </connector>
            <label>StoreId Missing</label>
        </rules>
        <rules>
            <name>ProductIds_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unverifiedProductIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_unverifiedProductIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_the_Product_Ids_to_Variable</targetReference>
            </connector>
            <label>ProductIds Included</label>
        </rules>
        <rules>
            <name>Products_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unverifiedProducts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Add_ProductIds_for_Checking</targetReference>
            </connector>
            <label>Products Included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Was_there_an_error</name>
        <label>Decision: Was there an error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Add_Error_No_Purchasable_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Purchasable Products Found</defaultConnectorLabel>
        <rules>
            <name>There_was_an_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IM_Error</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Add_Error_Message</targetReference>
            </connector>
            <label>There was an Error</label>
        </rules>
        <rules>
            <name>Purchasable_Products_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PurchaseableProductIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Purchasable_Products</targetReference>
            </connector>
            <label>Purchasable Products Found</label>
        </rules>
    </decisions>
    <description>This action uses an input string to search for available products to purchase from this store. It doesn&apos;t include Products with the Family of &apos;Modules&apos;.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS009 - Search Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS009 - Search Products</label>
    <loops>
        <name>Loop_Add_ProductIds_for_Checking</name>
        <label>Loop: Add ProductIds for Checking</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>unverifiedProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Add_the_ProductIds_to_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Purchasable_Products_from_Store_from_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Products_Ids_that_match_the_string</name>
        <label>Get Products Ids that match the string</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Are_there_ProductIds_or_Products</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR  5) AND 6 AND 7</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Display_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>Contains</operator>
            <value>
                <elementReference>productSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productSearchString</elementReference>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Module</stringValue>
            </value>
        </filters>
        <filters>
            <field>Family</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Certification</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>unverifiedProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchasable_Products</name>
        <label>Get Purchasable Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>var_PurchaseableProductIds</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>purchasableProducts</outputReference>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>s_c__Booking_Duration__c</queriedFields>
        <queriedFields>s_c__Slug__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>s_c__Specifications_Markdown__c</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Family</queriedFields>
        <queriedFields>s_c__Features_Markdown__c</queriedFields>
        <queriedFields>s_c__Summary_Markdown__c</queriedFields>
        <queriedFields>s_c__sC_Id__c</queriedFields>
        <queriedFields>s_c__Available_On__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Subscription_Type__c</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products_Ids_that_match_the_string</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The system message if there was an error/issue. Follow the instructions and provide an error response to the user that doesn&apos;t contain PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The string to use to search for the product matching on Name, s_c__Display_Name__c, Product Code or Description.</description>
        <name>productSearchString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A list of product records that have been verified to be purchasable by the current store.</description>
        <name>purchasableProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <description>The storeId of the current store the user is interactive/purchasing from.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The unverified list of product Ids to be checked if they are purchasable for the current store.</description>
        <name>unverifiedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A list of product records that haven&apos;t yet been verified to be purchasable on the current store.</description>
        <name>unverifiedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>var_IM_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PurchaseableProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_unverifiedProductIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
