force-app/main/default/flows/AF_UAIS005_Manage_Order_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_Order_to_variable</name>
        <label>Assign: Add Order to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Updated_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Add_OrderItems_to_Variable</name>
        <label>Assign: Add OrderItems to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_OrderItems</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Add_to_vars_list</name>
        <label>Assign: Add to vars list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_NewOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PBS_and_Assing_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Adding_OrderItems</name>
        <label>Assign: Error Adding OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error: there was an error adding the orderItems, {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Updated_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_OrderItem</name>
        <label>Assign: New OrderItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PBS_and_Assing_OrderItems.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PBS_and_Assing_OrderItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_PBS_and_Assing_OrderItems.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Add_to_vars_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Draft_Error</name>
        <label>Assign: Order Draft Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, you cannot edit an active order, please contact us via email to adjust your order.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OrderId_Missing_Error</name>
        <label>Assign: OrderId Missing Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, you must include an orderId to use this action. Please find an order to use.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Product_Ids_Missing</name>
        <label>Assign: Product Ids Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, you must include a list of productIds to remove and/or add to this order. Please ask the user which products they would like to add/remove from this order.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assing_Delete_Order_Error</name>
        <label>Assing: Delete Order Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error: there was an error deleting the orderItems, {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_Add_Products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Add_Products</name>
        <label>Decision: Add Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Products_to_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addProductIdsToOrder</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook2EntryIds</targetReference>
            </connector>
            <label>Products to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Are_there_Products_to_Add</name>
        <label>Decision: Are there Products to Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Items_to_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vars_NewOrderItems</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_OrderItems</targetReference>
            </connector>
            <label>Order Items to Add</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_required_Information_Included</name>
        <label>Decision: Is required Information Included</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Order_to_Modify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Modify Order</defaultConnectorLabel>
        <rules>
            <name>Missing_OrderId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OrderId_Missing_Error</targetReference>
            </connector>
            <label>Missing OrderId</label>
        </rules>
        <rules>
            <name>Missing_ProductIds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addProductIdsToOrder</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>removeProductIdsFromOrder</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Ids_Missing</targetReference>
            </connector>
            <label>Missing ProductIds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_this_Order_in_Draft</name>
        <label>Decision: Is this Order in Draft</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_Draft_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can&apos;t edit order</defaultConnectorLabel>
        <rules>
            <name>Order_is_in_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_to_Modify.StatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Remove_Products</targetReference>
            </connector>
            <label>Order is in Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Remove_Products</name>
        <label>Decision: Remove Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Add_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_Products_from_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>removeProductIdsFromOrder</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OrderItems_to_Remove</targetReference>
            </connector>
            <label>Remove Products from Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Were_the_Removal_OrderItems_found</name>
        <label>Decision: Were the Removal OrderItems found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Add_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Items_found_to_remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OrderItems_to_Remove</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_OrderItems</targetReference>
            </connector>
            <label>Order Items found to remove</label>
        </rules>
    </decisions>
    <description>This action allows the agent to manage order items related to the order.</description>
    <environments>Default</environments>
    <interviewLabel>AF - UAIS005 - Manage Order Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS005 - Manage Order Items</label>
    <loops>
        <name>Loop_PBS_and_Assing_OrderItems</name>
        <label>Loop: PBS and Assing OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Pricebook2EntryIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_OrderItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Are_there_Products_to_Add</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_OrderItems</name>
        <label>Create new OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Updated_Order</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Adding_OrderItems</targetReference>
        </faultConnector>
        <inputReference>vars_NewOrderItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_OrderItems</name>
        <label>Delete OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Add_Products</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assing_Delete_Order_Error</targetReference>
        </faultConnector>
        <inputReference>Get_OrderItems_to_Remove</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Order_to_Modify</name>
        <label>Get Order to Modify</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_this_Order_in_Draft</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItems_to_Remove</name>
        <label>Get OrderItems to Remove</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Were_the_Removal_OrderItems_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>removeProductIdsFromOrder</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook2EntryIds</name>
        <label>Get Pricebook2EntryIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_PBS_and_Assing_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_to_Modify.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>In</operator>
            <value>
                <elementReference>addProductIdsToOrder</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Order</name>
        <label>Get Updated Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Add_Order_to_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_OrderItems</name>
        <label>Get Updated OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Add_OrderItems_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_required_Information_Included</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A list of products to add to the Order as line items.</description>
        <name>addProductIdsToOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Order record after line items have been added/removed</description>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The orderId of the OrderItems to update.</description>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of orderItems after the products have been added/removed.</description>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>A list of productIds to remove from this order.</description>
        <name>removeProductIdsFromOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>vars_NewOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
