force-app/main/default/flows/AF_UAIS001_Get_Careers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign: Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, please ensure a StoreId has been set before calling this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PCID_to_Var</name>
        <label>Assign: PCID to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_productCateogryId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_PCHRs.s_c__Child_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_PCHRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Are_there_Careers_to_Get</name>
        <label>Decision: Are there Careers to Get</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_Careers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vars_productCateogryId</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PC_Careers</targetReference>
            </connector>
            <label>Get Careers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_there_a_StoreId</name>
        <label>Decision: Is there a StoreId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>StoreId_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Category_Hierarchy_Records</targetReference>
            </connector>
            <label>StoreId Included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Were_Child_Careers_Found</name>
        <label>Decision: Were Child Careers Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Careers_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Category_Hierarchy_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_PCHRs</targetReference>
            </connector>
            <label>Child Careers Found</label>
        </rules>
    </decisions>
    <description>This action gets all the careers available to offer the user.</description>
    <environments>Default</environments>
    <interviewLabel>AF - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS001 - Get Careers</label>
    <loops>
        <name>Loop_PCHRs</name>
        <label>Loop: PCHRs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Product_Category_Hierarchy_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PCID_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Are_there_Careers_to_Get</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PC_Careers</name>
        <label>Get PC Careers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_productCateogryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Hide__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>s_c__Product_Category__c</object>
        <outputReference>careers</outputReference>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>s_c__Title__c</queriedFields>
        <queriedFields>s_c__Subtitle__c</queriedFields>
        <queriedFields>s_c__Introduction_Markdown__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Category_Hierarchy_Records</name>
        <label>Get Product Category Hierarchy Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Were_Child_Careers_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Parent_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.AF_UAIS001_CareerPCID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>s_c__Product_Category_Hierarchy__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Child_Id__c</queriedFields>
        <sortField>s_c__Position__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_there_a_StoreId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The list of productCategory records that represent the careers that should be recommended to the user.</description>
        <name>careers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>s_c__Product_Category__c</objectType>
    </variables>
    <variables>
        <description>The error or system message generated by this action. Follow it&apos;s instructions and inform the user of the error generally without displaying PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The storeId of the current store.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_productCateogryId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
