force-app/main/default/flows/AF_UAIS004_Get_Draft_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_contactId_is_Missing</name>
        <label>Assign: contactId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, contact is missing. Please ask the user to login or create an account before continuing this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Latest_Order_not_found</name>
        <label>Assign: Latest Order not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, no draft orders found for this contact, please create a new order instead.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Latest_Order_Record</name>
        <label>Assign: Latest Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Latest_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_not_Found_with_Id</name>
        <label>Assign: Order not Found with Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, order not found with that orderId, please try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OrderItems_to_Variable</name>
        <label>Assign: OrderItems to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OrderItems</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Set_Order_to_Variable</name>
        <label>Assign: Set Order to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_By_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Set_Order_to_Variable1</name>
        <label>Assign: Set Order to Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_By_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_By_Order_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_storeId_is_Missing</name>
        <label>Assign: storeId is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, storeId is missing, please ask the user for the store domain and search for the storeId before continuing with this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Was_an_order_Found_with_Id</name>
        <label>Decision: Was an order Found with Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Order_not_Found_with_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_with_Id_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_By_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Order_to_Variable</targetReference>
            </connector>
            <label>Order with Id Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_was_an_Order_Found_with_OrderNumber</name>
        <label>Decision: was an Order Found with OrderNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Order_not_Found_with_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_with_Order_Number_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_By_Order_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Set_Order_to_Variable1</targetReference>
            </connector>
            <label>Order with Order Number Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Was_the_latest_order_found</name>
        <label>Decision: Was the latest order found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Latest_Order_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Latest_Draft_Order_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_Order_Record</targetReference>
            </connector>
            <label>Latest Draft Order found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decsion_Are_the_required_Fields_populated</name>
        <label>Decsion: Are the required Fields populated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Get Latest Draft Order</defaultConnectorLabel>
        <rules>
            <name>contactId_is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_contactId_is_Missing</targetReference>
            </connector>
            <label>contactId is Missing</label>
        </rules>
        <rules>
            <name>storeId_is_missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_storeId_is_Missing</targetReference>
            </connector>
            <label>storeId is missing</label>
        </rules>
        <rules>
            <name>Search_with_OrderId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>for_OrderIdLen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_By_Id</targetReference>
            </connector>
            <label>Search with OrderId</label>
        </rules>
        <rules>
            <name>Search_with_Order_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_By_Order_Number</targetReference>
            </connector>
            <label>Search with Order Number</label>
        </rules>
    </decisions>
    <description>If a orderId or orderNumber is included, will get the draft Order Record and OrderItems, otherwise will return the most recent draft order with order items.</description>
    <environments>Default</environments>
    <formulas>
        <name>for_OrderIdLen</name>
        <dataType>Number</dataType>
        <expression>LEN({!orderId})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>AF - UAIS004 - Get Draft Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS004 - Get Order &amp; Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Latest_Order</name>
        <label>Get Latest Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Was_the_latest_order_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Contact_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_By_Id</name>
        <label>Get Order By Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Was_an_order_Found_with_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Contact_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>s_c__Payment_Link__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_By_Order_Number</name>
        <label>Get Order By Order Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_was_an_Order_Found_with_OrderNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Contact_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderNumber</queriedFields>
        <queriedFields>EffectiveDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>TotalAmount</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>s_c__Payment_Link__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderItems</name>
        <label>Get OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OrderItems_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductName__c</queriedFields>
        <queriedFields>Bookable_Status__c</queriedFields>
        <queriedFields>OrderItemNumber</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Booking_Date__c</queriedFields>
        <queriedFields>Booking_Ends_At__c</queriedFields>
        <queriedFields>Booking_Starts_At__c</queriedFields>
        <queriedFields>Booked_Class__c</queriedFields>
        <queriedFields>ProductFamily__c</queriedFields>
        <sortField>OrderItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decsion_Are_the_required_Fields_populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The contactId of the current user.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error or system message returned if a non-expected outcome occurs. Follow the instructions and provide the user a general response without PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The order Record of the newly created Order</description>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>The Order Id or Order Number of the order to search for.</description>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The orderItems related to this order.</description>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <description>The storeId to use for the current order.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
