force-app/main/default/flows/AF_UAIS006_Get_Booking_Product_Time_Slots.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Time_Slots</name>
        <label>Get Time Slots</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BookingAvailability_IM_GetTimeSlots</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Add_Slots_to_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>untilDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productBookableLocationId</name>
            <value>
                <elementReference>Loop_Get_Time_Slots_for_Bookable_Location.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productId</name>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>fromDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingAvailability_IM_GetTimeSlots</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_bookableLocationIdSlots</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Add_Slots_to_List</name>
        <label>Assign: Add Slots to List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>availableBookingSlots</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_bookableLocationIdSlots</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Time_Slots_for_Bookable_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assign_Bookable_Locations_to_Ids</name>
        <label>Assign: Assign Bookable Locations to Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_BookableLocationsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Add_Booking_Location_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Add_Booking_Location_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Assign_To_BL_Record</name>
        <label>Assign: Assign To BL Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bookableLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assign_Bookable_Location_to_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vars_BookableLocationsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_Bookable_Location_to_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_Bookable_Location_to_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_bookableLocations</name>
        <label>Assign: bookableLocations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bookableLocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_BookingLocations_by_State_and_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Bookable_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BookableLocations_Found</name>
        <label>Assign: BookableLocations Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NumberOfBookableLocationsFound</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_BookingLocations_by_State_and_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Were_Booking_Locations_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BookingLocation_it_to_Ids_List</name>
        <label>Assign: BookingLocation it to Ids List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_BookableLocationsId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bookableLocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Bookable_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Missing_from_until_dates</name>
        <label>Assign: Error Missing from/until dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, please ensure there are included from and until dates to search for time slots for this product.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_missing_product_bookable_locations</name>
        <label>Assign: Error missing product bookable locations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, no product bookable locations for this bookable location(s) were found, please pick a different location or product.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Missing_Product_Id</name>
        <label>Assign: Error Missing Product Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, missing productId, please ensure you ask the user which bookable product they would like to find time slots for.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_Missing_StoreId</name>
        <label>Assign: Error Missing StoreId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error, you are missing a storeId, please ensure this is included/set before calling this action.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Error_no_bookable_location_or_state_or_country</name>
        <label>Assign: Error no bookable location or state or country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No bookableLocationId was included and there are Country or State are missing. Please ask the user to provide a country and state so we can search for bookable locations in their area.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_No_Bookable_Locations_Found</name>
        <label>Assign: No Bookable Locations Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No bookable locations with the country code of {!country} and state code of {!state} were found, please confirm the users desired country and state or help them find a bookable location.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Are_Required_Fields_Entered</name>
        <label>Decision: Are Required Fields Entered?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Is_there_a_bookingLocationId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Basic Information Included</defaultConnectorLabel>
        <rules>
            <name>Missing_StoreId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Missing_StoreId</targetReference>
            </connector>
            <label>Missing StoreId</label>
        </rules>
        <rules>
            <name>Missing_Product_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Missing_Product_Id</targetReference>
            </connector>
            <label>Missing Product Id</label>
        </rules>
        <rules>
            <name>Missing_From_Until_Dates</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>fromDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>untilDate</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Missing_from_until_dates</targetReference>
            </connector>
            <label>Missing From/Until Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Country_and_State_Included</name>
        <label>Decision: Country and State Included</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_no_bookable_location_or_state_or_country</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_and_State_are_included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>state</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BookingLocations_by_State_and_Country</targetReference>
            </connector>
            <label>Country and State are included</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_there_a_bookingLocationId</name>
        <label>Decision: Is there a bookingLocationId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Country_and_State_Included</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_a_BookingLocationId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookableLocationId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BookingLocation</targetReference>
            </connector>
            <label>There is a BookingLocationId</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Were_Booking_Locations_Found</name>
        <label>Decision: Were Booking Locations Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_No_Bookable_Locations_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Booking Locations Found</defaultConnectorLabel>
        <rules>
            <name>Multiple_Booking_Locations_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOfBookableLocationsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Add_Booking_Location_Ids</targetReference>
            </connector>
            <label>Multiple Booking Locations Found</label>
        </rules>
        <rules>
            <name>Single_Booking_Location_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NumberOfBookableLocationsFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Assign_Bookable_Location_to_Record</targetReference>
            </connector>
            <label>Single Booking Location Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Were_Product_Bookable_Locations_Found</name>
        <label>Decision: Were Product Bookable Locations Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_missing_product_bookable_locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing Product Bookable Locations</defaultConnectorLabel>
        <rules>
            <name>Product_Bookable_Locations_were_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Bookable_Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Get_Time_Slots_for_Bookable_Location</targetReference>
            </connector>
            <label>Product Bookable Locations were Found</label>
        </rules>
    </decisions>
    <description>This Agentforce action gets booking availability time slots for the current product which can be used to book the user in to events.</description>
    <environments>Default</environments>
    <interviewLabel>AF - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS006 - Get Booking Product Time Slots</label>
    <loops>
        <name>Loop_Add_Booking_Location_Ids</name>
        <label>Loop: Add Booking Location Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_BookingLocations_by_State_and_Country</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assign_Bookable_Locations_to_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_bookableLocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assign_Bookable_Location_to_Record</name>
        <label>Loop: Assign Bookable Location to Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_BookingLocations_by_State_and_Country</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Assign_To_BL_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Bookable_Location</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Get_Time_Slots_for_Bookable_Location</name>
        <label>Loop: Get Time Slots for Bookable Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Product_Bookable_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Time_Slots</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BookingLocation</name>
        <label>Get BookingLocation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BookingLocation_it_to_Ids_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookableLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Bookable_Location__c</object>
        <outputReference>bookableLocation</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <queriedFields>s_c__Timezone__c</queriedFields>
        <queriedFields>s_c__Address1__c</queriedFields>
        <queriedFields>s_c__Address2__c</queriedFields>
        <queriedFields>s_c__City__c</queriedFields>
        <queriedFields>s_c__Zip_Code__c</queriedFields>
        <queriedFields>s_c__State__c</queriedFields>
        <queriedFields>s_c__Country_Id__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_BookingLocations_by_State_and_Country</name>
        <label>Get BookingLocations by State and Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_BookableLocations_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>s_c__Bookable_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Bookable_Location</name>
        <label>Get Product Bookable Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Were_Product_Bookable_Locations_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Bookable_Location_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_BookableLocationsId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10.0</numberValue>
        </limit>
        <object>s_c__Product_Bookable_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Are_Required_Fields_Entered</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A list of all available booking slots based on the input parameters.</description>
        <name>availableBookingSlots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Booking_Availability__c</objectType>
    </variables>
    <variables>
        <description>The single location the available time slots were generated for. Will be the same as the productBookingLocationId.</description>
        <name>bookableLocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>s_c__Bookable_Location__c</objectType>
    </variables>
    <variables>
        <description>The bookable location Id for the Bookable Location closest to or chosen by the user</description>
        <name>bookableLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>If multiple booking locations were found, this contains a list of locations that were searched for time slots.</description>
        <name>bookableLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>s_c__Bookable_Location__c</objectType>
    </variables>
    <variables>
        <description>The country where the current user is located, used to find locations near to the current user. Must comply with the ISO 3166 alpha 3 standard.</description>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>s_c__Bookable_Location__c</objectType>
    </variables>
    <variables>
        <description>The error message or system message about the action result. Will give a message for the agent with follow up instructions. Display a generalised error to the user without any PII.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The first date booking availabilities are/were searched from. It should always be a date in the future and should always be before or equal to the untilDate.</description>
        <name>fromDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The productId of the current product to get Booking Availability Slots from</description>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The state or province of the current user, used to find locations. Must use the state code appropriate for the input country.</description>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The storeId of the current messaging sessions store, typically set by the Store__c field on the messaging session.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>timeSlotAvalibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The latest date booking availabilities are/were searched from. It should always be a date in the future and should always be after or equal to the fromDate.</description>
        <name>untilDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_bookableLocationIdSlots</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Booking_Availability__c</objectType>
    </variables>
    <variables>
        <name>var_NumberOfBookableLocationsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vars_BookableLocationsId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
