force-app/main/default/flows/AF_UAIS010_Get_Bookable_Location.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Bookable_Location_to_Var</name>
        <label>Assign: Bookable Location to Var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_FilteredBookingLocations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Search_See_if_the_Bookable_Location_Exsists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_See_if_the_Bookable_Location_Exsists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_no_StoreId</name>
        <label>Assign: Error no StoreId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error: Please ensure a storeId is set before calling this action</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Update_Filtered_List</name>
        <label>Assign: Update Filtered List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>bookingLocations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vars_FilteredBookingLocations</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assing_Add_Ids_to_Vars</name>
        <label>Assing: Add Ids to Vars</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vars_BookableLocationIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Assign_Booking_Location_Ids.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assign_Booking_Location_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Does_the_Location_Match</name>
        <label>Decision: Does the Location Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Search_See_if_the_Bookable_Location_Exsists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match - Skip</defaultConnectorLabel>
        <rules>
            <name>Location_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Add_from_Booking_Location_Ids.s_c__Bookable_Location_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Search_See_if_the_Bookable_Location_Exsists.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bookable_Location_to_Var</targetReference>
            </connector>
            <label>Location Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Is_there_a_ProductId_Filter</name>
        <label>Decision: Is there a ProductId Filter?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product2Id_Filter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Assign_Booking_Location_Ids</targetReference>
            </connector>
            <label>Product2Id Filter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Search_Type</name>
        <label>Decision: Search Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_All_Bookable_Locations_for_Store</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Locations</defaultConnectorLabel>
        <rules>
            <name>With_BookingLocationId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bookingLocationId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bookable_Locations_with_Id</targetReference>
            </connector>
            <label>With BookingLocationId</label>
        </rules>
        <rules>
            <name>No_storeId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_no_StoreId</targetReference>
            </connector>
            <label>No storeId</label>
        </rules>
        <rules>
            <name>Country_and_State</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>state</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bookable_Locations_with_Country_and_State</targetReference>
            </connector>
            <label>Country and State</label>
        </rules>
        <rules>
            <name>Country_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bookable_Locations_with_Country</targetReference>
            </connector>
            <label>Country Only</label>
        </rules>
    </decisions>
    <description>This action allows the user to search for Bookable Location with options of filtering by country, state and or productId.</description>
    <environments>Default</environments>
    <interviewLabel>AF - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AF - UAIS010 - Get Bookable Location</label>
    <loops>
        <name>Loop_Add_from_Booking_Location_Ids</name>
        <label>Loop: Add from Booking Location Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Product_Booking_Location_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Search_See_if_the_Bookable_Location_Exsists</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Update_Filtered_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Assign_Booking_Location_Ids</name>
        <label>Loop: Assign Booking Location Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>bookingLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assing_Add_Ids_to_Vars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Product_Booking_Location_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Search_See_if_the_Bookable_Location_Exsists</name>
        <label>Search: See if the Bookable Location Exsists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>bookingLocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Does_the_Location_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Add_from_Booking_Location_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Bookable_Locations_for_Store</name>
        <label>Get All Bookable Locations for Store</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_there_a_ProductId_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Bookable_Location__c</object>
        <outputReference>bookingLocations</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Address1__c</queriedFields>
        <queriedFields>s_c__Address2__c</queriedFields>
        <queriedFields>s_c__City__c</queriedFields>
        <queriedFields>s_c__Zip_Code__c</queriedFields>
        <queriedFields>s_c__State__c</queriedFields>
        <queriedFields>Country_Code__c</queriedFields>
        <queriedFields>s_c__Virtual__c</queriedFields>
        <queriedFields>s_c__Timezone__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Product_Booking_Location_Ids</name>
        <label>Get All Product Booking Location Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Add_from_Booking_Location_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__Product_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Bookable_Location_Id__c</field>
            <operator>In</operator>
            <value>
                <elementReference>vars_BookableLocationIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>s_c__Product_Bookable_Location__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>s_c__Bookable_Location_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bookable_Locations_with_Country</name>
        <label>Get Bookable Locations with Country</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_there_a_ProductId_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Bookable_Location__c</object>
        <outputReference>bookingLocations</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Address1__c</queriedFields>
        <queriedFields>s_c__Address2__c</queriedFields>
        <queriedFields>s_c__City__c</queriedFields>
        <queriedFields>s_c__Zip_Code__c</queriedFields>
        <queriedFields>s_c__State__c</queriedFields>
        <queriedFields>Country_Code__c</queriedFields>
        <queriedFields>s_c__Virtual__c</queriedFields>
        <queriedFields>s_c__Timezone__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Bookable_Locations_with_Country_and_State</name>
        <label>Get Bookable Locations with Country and State</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_there_a_ProductId_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>s_c__State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>state</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Bookable_Location__c</object>
        <outputReference>bookingLocations</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Address1__c</queriedFields>
        <queriedFields>s_c__Address2__c</queriedFields>
        <queriedFields>s_c__City__c</queriedFields>
        <queriedFields>s_c__Zip_Code__c</queriedFields>
        <queriedFields>s_c__State__c</queriedFields>
        <queriedFields>Country_Code__c</queriedFields>
        <queriedFields>s_c__Virtual__c</queriedFields>
        <queriedFields>s_c__Timezone__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Bookable_Locations_with_Id</name>
        <label>Get Bookable Locations with Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Is_there_a_ProductId_Filter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>bookingLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>s_c__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>s_c__Store_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>storeId</elementReference>
            </value>
        </filters>
        <object>s_c__Bookable_Location__c</object>
        <outputReference>bookingLocations</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>s_c__Address1__c</queriedFields>
        <queriedFields>s_c__Address2__c</queriedFields>
        <queriedFields>s_c__City__c</queriedFields>
        <queriedFields>s_c__Zip_Code__c</queriedFields>
        <queriedFields>s_c__State__c</queriedFields>
        <queriedFields>Country_Code__c</queriedFields>
        <queriedFields>s_c__Virtual__c</queriedFields>
        <queriedFields>s_c__Timezone__c</queriedFields>
        <queriedFields>s_c__Information_Markdown__c</queriedFields>
        <queriedFields>s_c__Display_Name__c</queriedFields>
        <sortField>s_c__Display_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Search_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The booking location Id the user wants to get location information from. Use this to get the Name, Address, Timezone or if the location is virtual.</description>
        <name>bookingLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A list of booking locations that were found with based on the input parameters</description>
        <name>bookingLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>s_c__Bookable_Location__c</objectType>
    </variables>
    <variables>
        <description>The sanitised country Alpha 3 code the user provides to search for bookable locations.</description>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The error or system message returned by the action. Follow the instructions and display a generalised message to the user.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Optional productId input if the user wants to search for locations with this product in stock.</description>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The sanitised state code the user provides to search for bookable locations.</description>
        <name>state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The storeId currently in use.</description>
        <name>storeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_BookableLocationIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vars_FilteredBookingLocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>s_c__Bookable_Location__c</objectType>
    </variables>
</Flow>
