force-app/main/default/flows/RTF_Order_Processor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Has_the_order_been_paid</name>
        <label>Decision: Has the order been paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.s_c__Checkout_Step__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Bookings_on_Line_Items</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Order Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Order_Is_New</name>
        <label>Decision: Order Is New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_Has_the_order_been_paid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>for_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Default_Fields</targetReference>
            </connector>
            <label>Order is New</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>for_City</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ShippingCity}, {!$Record.s_c__Contact_Id__r.Account.ShippingCity})</expression>
    </formulas>
    <formulas>
        <name>for_Country</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ShippingCountry}, {!$Record.s_c__Contact_Id__r.Account.ShippingCountry})</expression>
    </formulas>
    <formulas>
        <name>for_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>for_PostalCode</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ShippingPostalCode}, {!$Record.s_c__Contact_Id__r.Account.ShippingPostalCode})</expression>
    </formulas>
    <formulas>
        <name>for_State</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ShippingState}, {!$Record.s_c__Contact_Id__r.Account.ShippingState})</expression>
    </formulas>
    <formulas>
        <name>for_Street</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Record.ShippingStreet}, {!$Record.s_c__Contact_Id__r.Account.ShippingStreet})</expression>
    </formulas>
    <interviewLabel>RTF - Order Processor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Order Processor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Sync_Bookings_on_Line_Items</name>
        <label>Sync Bookings on Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Bookable_Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Update_Booking__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.OrderItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Default_Fields</name>
        <label>Update Default Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Has_the_order_been_paid</targetReference>
        </connector>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>$Record.s_c__Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>for_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>for_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>for_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>for_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>for_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>$Record.s_c__Contact_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>for_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>for_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>for_PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>for_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>for_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>s_c__Checkout_Email__c</field>
            <value>
                <elementReference>$Record.s_c__Contact_Id__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Order_Is_New</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
